include layouts/layout
block content
    .container
        .row
            if customer.length > 0
                .col-md-4
                    h2.mt-4 Top Customers
                    table.table
                        thead
                            tr
                                th Customer Name
                                th Total Sales
                        tbody
                            each c in customer
                                tr
                                    td #{c.customername}
                                    td= '$' + (parseFloat(c.Total_Sales).toLocaleString(undefined, {minimumFractionDigits: 2}))

                    a.btn.btn-primary(href='/customers') Show All

            if product.length > 0
                .col-md-4
                    h2.mt-4 Top Products
                    table.table
                        thead
                            tr
                                th Product Name
                                th Total Sales
                        tbody
                            each p in product
                                tr
                                    td #{p.itemname}
                                    td= '$' + (parseFloat(p.Total_Sales).toLocaleString(undefined, {minimumFractionDigits: 2}))
                    a.btn.btn-primary(href='/products') Show All

            if sales.length > 0
                .col-md-4
                    h2.mt-4 Sales
                    table.table
                        thead
                            tr
                                th Month
                                th Total Sales
                        tbody
                            each s in sales
                                tr
                                    td #{s.Month} #{s.Year}
                                    td= '$' + (parseFloat(s.Total_Sales).toLocaleString(undefined, {minimumFractionDigits: 2}))
                    a.btn.btn-primary(href='/sales') Show All

            if customer.length === 0 && product.length === 0 && sales.length === 0
                h2 Sorry no current data
