include layouts/layout
.container
    h2.mt-4 #{title}
    // Adjust this to either show title constant from here
        // or to be pulled in from the controller

    if sales.length === 0
        h2 Sorry no current Sales
    else
        h2 Sales
        table.table.table-striped
            thead
                tr
                    th(scope='col') Date
                    th(scope='col') Customer
                    th(scope='col') Product
                    th(scope='col') Quantity
                    th(scope='col') Total Sales
                tbody
                     each s in sales
                         tr
                             td= s.SalesDate
                             td= s.CustomerName
                             td= s.Product
                             td= s.Quantity
                             td= ('$' + s.TotalSales)
